/* Define as configurações gerais da página */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* Estiliza o cabeçalho e o menu de navegação 
header {
  background-color: #333;
  color: #fff;
}
*/
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

header nav {
  display:flex; /* define o elemento pai como flex */
  align-items: center; /* alinha os elementos filhos verticalmente */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
 
}

.menufixo{
  margin-top: 50px;
}

#logo {
  margin-right: auto; /* move o logo para a esquerda */
}

#imglogo{
  width: 180px;
  height: 180px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 30px;
  
}

nav a {
  color: #333;
  text-decoration: none;
}

/* Estiliza a seção Sobre */
.sobre {
  padding: 100px;


}

.sobre{
  margin-left: 150px;
}

.sobre h2 {
  font-size: 30px;
  margin-bottom: 0px;
}

.sobre p {
  font-size: 20px;
  line-height: 1.5;
  margin-left: 1px;
  margin-top: 1px;
}

#p2 {
  font-size: 64px;
  line-height: 1.5;
  margin:0;
}

/* Estiliza a seção Trabalhos */
#trabalhos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto; 
  
}

#trabalho1, #trabalho2, #trabalho3, #trabalho4 {
  
  margin: 10px;
  width: 700px;
  height: 500px;
  text-align: center; 
  align-items: center;
  position: relative;
}

#trabalho1 img, #trabalho2 img, #trabalho3 img, #trabalho4 img {
  width: 95%;
  height: 95%;
  filter: brightness(100%);
  transition: filter 0.5s ease;
  object-fit: cover; 
  
}
#trabalho1 img:hover, #trabalho2 img:hover, #trabalho3 img:hover, #trabalho4 img:hover {
  filter: brightness(30%);
}

#trabalho1 h2, #trabalho2 h2, #trabalho3 h2, #trabalho4 h2 {
  font-size: 50px;
  color: #fff;
  position:absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
  top: 300px;
  left: 50%;
}

#trabalho1 p, #trabalho2 p, #trabalho3 p, #trabalho4 p {
  font-size: 1.2em;
}

#trabalho1 img:hover ~ #titulo1,
#trabalho2 img:hover ~ #titulo2,
#trabalho3 img:hover ~ #titulo3,
#trabalho4 img:hover ~ #titulo4 {
  opacity: 1;
}

/* Estiliza o rodapé */
footer {
  background-color: rgb(243, 243, 243);
  padding: 10px;
  height: 110px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left {
  align-items: center;
  margin-left: 13%;
}

.right {
  display: flex;
  margin-right: 250px;
}
.right a {
  margin-left: 10px;

}

.right a i{
    
   
  font-size: 1.5em;
      
     
  color: gray;
      
     
  padding: 10px;
      
     
  transition: all 0.3s ease;
  }
  
  .right a i:hover{
      
     
  color: #000;
  }


  /*---- Pagina Sobre -----*/

  .sobremin{
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    width: 70%;
    margin: auto; 
    margin-top: 300px;
   
  }

  .sobremin #conteudo{
    width: 550px;
    height: 450px;
    
  }

  .sobremin h1{
    font-size: 35px;
    margin-left: 15px;
  }

  .sobremin h3{
    margin-left: 15px;
  }

  .sobremin p{
    margin-left: 15px;
    font-size: 17px;
  }

  .sobremin #imgHigor{

    height: 450px;
    width: 736px;
    margin-left: 35px;
  }

  #imgHigor img{
    width: 100%;
    height: 100%;
   
  }

  .recursos{
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    width: 70%;
    margin: auto; 
    margin-top: 100px;
    
  }

  .recursos #icones{
    height: 450px;
    width: 736px;
    
  }

  #icones {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
  }

#icones img {
  width: 80px;
  height: 80px;
}

#ferramentas{
  width: 550px;
  height: 450px; 
  line-height: 22px;
}

#ferramentas h1{
  font-size: 30px;
  margin-left: 15px;
  margin-bottom: 50px;
}

.projetos{
  display: flex;
  flex-wrap: wrap;
  justify-content:start;
  width: 80%;
  margin: auto; 
  margin-top: 300px;
  
}

.projetos h1{
  font-size: 60px;
}

#introducao h1, h3, p{
  margin-left: 100px;
  margin: 30px;
}

#imgprojeto{
  width: 100%;
  height:700px;
  margin-top: 100px;
  
}

#imgprojeto img{
  width: 100%;
  height: 100%;
}

#entrecontato{
  margin-top: 150px; 
  font-size: 40px;
  margin-left: 110px;
}

#emailcontato{
  font-size: 40px;
  margin-left: 100%;
  margin-bottom: 100px;
  text-decoration:none;
}


/* Resolução de desktop */
@media (min-width: 1200px) {
  /* alterações para resolução de desktop */
}

/* Resolução de laptop/tablet */
@media (min-width: 992px) and (max-width: 1199px) {
  /* alterações para resolução de laptop/tablet */
}

/* Resolução de tablet/celular */
@media (min-width: 768px) and (max-width: 991px) {
  /* alterações para resolução de tablet/celular */
}

/* Resolução de celular */
@media (max-width: 767px) {
  /* alterações para resolução de celular */
}